name: C++ CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y cmake g++ cppcheck

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake ..

    - name: Build
      run: |
        cd build
        cmake --build .

    - name: Run Tests
      run: |
        cd build
        ctest --output-on-failure

    - name: Static Analysis
      run: cppcheck src --enable=all --error-exitcode=0

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: helloworld-binary
        path: build/helloworld

